body {
  background-color: white;
}

img {
  border-radius: 15%;
  outline: #ffd000;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
  background: #ffd000;
  text-shadow: 1px 1px #000000;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: #ffd000;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  transition: 0.5s;
  background-color: #ffd000;
  color: #0f0f0f;
}

#maincontainer {
  background-color: #444444;
  color: white;
  padding-bottom: 50px;
}

.nav-link:hover {
	transition: 0.5s;
	background-color: #ffd000;
}

.nav-item {
  padding-left: 2vw;
}

#pro-info {
  padding-top: 10px;
}

#row1 {
  padding-top: 10vh;
}

#cartmain {
  background-color: white;
  max-height: 100vh;
}
#cart-heading {
  padding-top: 35px;
  font-size: 30px;
}

#table-row {
  padding-top: 50px;
}

#about {
  background-color: #444444;
  max-height: 25vh;
}
#about-row {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
